@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Roboto+Mono:wght@300;500&family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Poppins&family=Roboto+Mono:wght@300;500&family=Zen+Kurenaido&display=swap");

body {
  margin: 0;
  padding: 0%;
  /*  font-family: "Roboto Mono", monospace; */
  font-family: "Roboto", monospace;
  background-color: #d4f7ea !important;
}
nav {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  background-color: #264653;
  padding: 5px;
  height: 28px;
}
.nav-icon {
  text-decoration: none;
  color: white;
}
.header-container {
  background-color: #2a9d8f;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin-top: 10px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  padding: 16px 28px 5px;
  font-family: "Lemonada", cursive;
}
.header-img {
  padding: 20px;
  margin-top: 10px;
  margin-right: 30px !important;
  min-height: 55px;
  min-width: 300px;
}
.header-img img {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.header-img h3 {
  margin-top: 8px;
  color: white;
  font-size: 22px;
  text-align: right;
  font-family: "Lemonada", cursive;
}
.footer-container {
  bottom: 0;
  background-color: #264653;
  color: white;
  height: 220px;
  margin-top: 600px;
}
.footer-title {
  margin-top: 30px;
  text-align: center;
  padding: 15px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}
.titles {
  text-decoration: none;
}
.titles h2 {
  color: white;
}
.title-about {
  margin-right: 150px;
}
.icons-title {
  text-decoration: none;
  color: white;
  align-items: center;
  margin-top: 10%;
}
.footer-icons {
  display: flex;
}
.footer-icons:hover {
  color: aliceblue;
}
.footer-icon {
  color: white;
  justify-content: space-between !important;
  margin-right: 10px;
}
.footer-icons-main {
  margin-top: 25px;
}
.footer-copy {
  margin-top: 8px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-left: 20px;
}
.inputs-container {
  height: 600px;
  width: 600px;
  background-color: #f8f9fa;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-name {
  width: 350px;
  background-color: #dee2e6;
  border: none;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 0;
  margin-bottom: 20px;
  margin-left: 10px;
  resize: none;
}
.input-email {
  width: 350px;
  background-color: #dee2e6;
  border: none;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 0;
  margin-left: 15px;
  resize: none;
}
.input-message {
  height: 200px;
  width: 450px;
  background-color: #dee2e6;
  border: none;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 0;
  margin-top: 20px;
  resize: none;
}
.input-label {
  font-size: 1rem;
  color: black;
  margin-left: -40px;
  font-weight: 500;
}
.input-label-message {
  font-size: 1rem;
  color: black;
  margin-left: -1px;
  margin-top: 25px;
  font-weight: 500;
}

.input-btn {
  border-radius: 5px;
  background-color: #f4a261;
  color: white;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-left: 280px;
}
.inputs-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 70px;
  margin-left: 60px;
}
